<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="customSettings" type="MichaelFramework.Config.CustomSettings, MichaelFramework.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <customSettings>
    <system usePermissionControl="True" dataDirectory="App_Data">
      <customInit>
        <customInitItem key="1" type="OxygenSimulationPlatform.Model.Data.DataStore,OxygenSimulationPlatform.Model,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </customInit>
    </system>
    <application name="数字化供氧仿真平台" allowMultiStartup="True">
      <loginForm assemblyQualifiedName="OxygenSimulationPlatform.WinForm.LoginForm, OxygenSimulationPlatform.WinForm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" accessedUsers="oliIepbbwjn+GDFse1bXfqRgYiXu6J8WKzK5BJOGw3eeNqWOZ7OUbecDt0o3WW6JoOA0Sqa2DmfHLpSlb6hZmt6OeXlyuRnFCS1Uya5HedNvKji2GmKimLV+AOVFwxcn0hMetnJx9n+Mqqb2I5AG/RNtD9CzZZiAKmtZiYbyZKkPWw78mCA2HxYNg5sPi+zrcPNNh4k7p7ofu/Y4tu9CKCTyLUUbROZNAo6Mxhj6IzHQsACGJQW5ophhJD0NdQPbtnOkFqJJ/6w1mx0gIlSeYhd0T4ryIUHcbGxX97MEklF7GFytNfKoSYVARyo7uYPu9I2vZVH7YgRszIQqpX5p4GkNEs2eHj+hutVudcXu8v6EleXHRxT2qSZK3oCXIvW+j4SyiOv88UdAW8RpYenWMQ==" title="登录"/>
      <mainForm assemblyQualifiedName="OxygenSimulationPlatform.WinForm.MainForm, OxygenSimulationPlatform.WinForm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" bounds="260, 73, 800, 600" style="Office2007Blue" colorTint="" windowState="Maximized" leftPaneState="Visible=True,Expanded=True,WidthOrHeight=300" rightPaneState="Visible=True,Expanded=True,WidthOrHeight=300" bottomPaneState="Visible=True,Expanded=True,WidthOrHeight=180" ribbonControlExpanded="true" selectedRibbonTabIndex="0"/>
    </application>
  </customSettings>
  <connectionStrings>
    <add name="OxygenSimulationPlatform" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=OxygenSimulationPlatform;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy
     enabled="true"/>
  </runtime>
</configuration>
